<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Stockchart </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='main.css') }}" />
  <script type="text/javascript">
  const data = '{{data.Value}}'</script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <img src="static/{{ output.png }}" width="120" height="90" />
</body>
<link href="https://unpkg.com/event-drops/dist/style.css" rel="stylesheet" />
<script src="https://unpkg.com/d3"></script>
<script src="https://unpkg.com/event-drops"></script>
</html>
